.App {
  text-align: center;
}

.error {
  color: red;
  font-size: small;
  height: 0.3cm;
}

.tooltip {
  font-size: small;
  color: gray;
}

.filter-users {
  height: auto;
  width: 60vh;
  margin: 0.5cm;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
